p {
    text-align: center;
    font-family: "-apple-system", ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

a {
    color: #3465A4;
}

a.visited {
    color: #729FCF;
}